body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 200px;
    height: 60px;
    background-color: #000000;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-button {
    background-color: #151313;
    border: none;
    color: #ffffff;
    font-size: 16px;
    margin-right: 20px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.navbar-button.selected {
    background-color: #ffffff;
    color: #151313;
}

.navbar-button:hover {
    opacity: 0.8;
}

.navbar-icon {
    margin-left: 20px;
    color: white;
}

.navbar-icon svg {
    fill: currentColor;
}

.navbar-icon:hover svg {
    fill: #bbb;
}
